html {
    background-color: $white;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 1460px;
    width: 80%;
    margin: 0 auto;
}

.button {
    background-color: $accent;
    width: fit-content;
    padding: 10px;
    font-size: 1rem;
    color: $black;
    line-height: 1.6rem;
    transition: 0.3s;

    &:hover {
        background-color: $secondary;
        transform: scale(1.1);
    }
}