.mainContentContainer {
    display: flex;
    gap: 25px;
    padding-top: 100px;

    @include respond(medium) {
            flex-direction: column;
        }
}

.aboutPostsContainer,
.blogContainer,
.aboutWillow {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.aboutPostsContainer {
    flex-basis: 30%;

    @include respond(medium) {
            flex-direction: row;
        }
    @include respond(medium) {
        flex-direction: column;
    }
}
.blogContainer {
    flex-basis: 70%;
}

.aboutWillow,
.recentPosts,
.blogPost,
.comment {
    background-color: white;
    padding: 25px;
}

.blogPost {
    border-bottom: 5px solid $secondary;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment {
    margin-top: 25px;
    display: flex;
    gap: 10px;

    .commentImage {
        width: 100%;
    }
}

.commentText {
    display: flex;
    flex-direction: column;
}

.commentTwo {
    border-bottom: 5px solid $secondary;
}

.aboutWillow {
    gap: 25px;
    @include respond(medium) {
            width: 50%;
        }
    @include respond(medium) {
        width: 100%;
    }

    p a {
        color: $secondary;
        text-transform: none;
        font-family: $bodyFont;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.6rem;
    }
}

.recentPosts {

    ul {
        list-style: disc;
        padding-left: 30px;
    }
}

// Maybe mixins for all these flex boxes and gaps