// SCSS Partial for main content on contact.html

.contactPageContainer {
    display: flex;
    gap: 25px;
    padding: 100px 0;

        @include respond(medium) {
                    flex-direction: column-reverse;
            }
}

.contactInformation {
    background-color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
    padding-bottom: 100px;
    width: 45%;

        @include respond(medium) {
                width: 100%;
            }

    .socialIcons {
        width: 75%;
        display: flex;
        justify-content: space-between;
        font-size: 1.8rem;

        @include respond(large) {
                width: 100%;
            }

        @include respond(medium) {
                width: 50%;
            }
        @include respond(small) {
            width: 90%;
        }

        a i {
            color: $primary;

            &:hover, &:focus {
                color: $accent;
            }
        }
    }

    .addressContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;

        a, p {
            font-family: $bodyFont;
            font-style: normal;
            text-transform: none;
        }

        .emailAddress {
            font-weight: bold;
        }
    }
}