form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    .nameEmail {
        display: flex;
        width: 100%;
        gap: 10px;

        input {
            background-color: white;
            padding: 20px;
            border: none;
            width: 50%;
        }
    }

    textarea {
        resize: none;
        background-color: white;
        padding: 20px;
        border: none;
        height: 500px;
        
    }


}

.submitButton {
    width: 100%;
    border: none;
}