header {
    height: 80vh;
    background-color: $primary;
}

// Index/Home Header

.headerContainer {
    display: flex;
    align-items: center;
    padding-top: 50px;
    justify-content: space-between;
}

.circleText {
    position: relative;
    left: 80px;

    img {
        max-width: none;
    }
}

.headerPhoto {
    box-shadow: 20px 20px white;
}

.headerTextContainer {
    display: flex;
    align-items: center;

    h2 {
        font-size: 7rem;
    }
    
}

// Blog & Contact Header

.blogHeader, .contactHeader {
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.blogHeader {
    background-image: url(../assets/blog-image-1.jpg);
}
.contactHeader {
    background-image: url(../assets/contact-image-1.jpg);
}

.blogContactTitle {
    position: absolute;
    bottom: -15px;

    @include respond(medium) {
            font-size: 3rem;
            bottom: -23px
        }

    @include respond(small) {
        font-size: 2rem;
        bottom: -31px
    }
}