// Who is Willow Section

.whoWillow {
    background-color: $white;
        .wrapper {
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                margin: 0 auto;
                padding: 100px 0;
                gap: 20px;
            }
    }


// Blog Post Section

.blogSection {
    position: relative;
    background-color: white;
    z-index: 0;
}

.blogPostContainer {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 100px;
}

.blogPostContent {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 20px;
}

.blogTwoOuterSection,
.blogOneOuterSection {
    position: relative;
}

.blogTwo,
.blogOne {
    flex-direction: row-reverse;

    .blogImage {
        width: calc(50% + 50px);

        &:after {
            background-color: $primary;
            content: " ";
            height: 100%;
            position: absolute;
            right: 0px;
            top: 20px;
            width: calc(50% - 20px);
            z-index: -1;
        }
    }

    .blogPostContent {
        align-items: flex-end;
        align-self: flex-start;
        text-align: end;
        width: calc(50% - 50px);
    }
}


.blogOne {
    flex-direction: row;

    .blogImage {
        &:after {
            background-color: $secondary;
            left: 0px;
            width: calc(50% + 20px);
        }
    }

    .blogPostContent {
        align-items: flex-start;
        align-self: flex-end;
        text-align: start;
    }
}

// Willow's Journey Section

.willowJourney {
    background-color: $white;
    padding: 100px 0;

    .wrapper {
        display: flex;
        gap: 100px;

        img {
            box-shadow: 20px 20px $secondary;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}

// Middle Image

.middleImage {
    width: 100vw;
}

// Gallery Section

.gallery {
    display: flex;
    gap: 25px;
    padding: 50px 0;
    justify-content: space-evenly;
}

// Home Page Footer

footer {
    background-color: $white;
}

.footerContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;
    gap: 50px;

    .footerListItem {
        flex-basis: calc(50% - 50px);
        display: flex;

         i {
            background-color: $accent;
            padding: 15px;
            height: fit-content;
            border-radius: 50%;
            margin-right: 25px;
         }
    }

    .footerContent h4 {
        margin-bottom: 15px;
    }
}

// Copyright

.copyright {
    background-color: $black;
    text-align: center;
    color: $white;
}