// Skip Link

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 10;

    &:focus {
        left: 0;
    }
}

nav {
    background-color: $primary;
}

.navContainer {
    display: flex;
    justify-content: space-evenly;
    width: 65%;
    margin: 0 auto;
    color: $white;
    align-items: center;
    padding: 20px 0;


    li a {
        font-family: $bodyFont;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.45rem;

        &:hover, &:focus {
            color: $accent;
        }
    }
}