html {
    font-size: 125%;
    letter-spacing: 1px;
}

body {
    font-family: $bodyFont;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
blockquote,
a {
    font-family: $headingFont;
    font-weight: normal;
    color: $black;
    margin: 0;
    text-transform: uppercase;
}

// Set the heading font-sizes
// h1: 42px;
// h2: 80px;
// h3: 42px;
// h4: 32px;
// h5: 24px;

h1 {
    font-size: 2.1rem;
    color: $white;
}

h2 {
    font-size: 4rem;
    color: $white;
    line-height: 4.6rem;
}

h3 {
    font-size: 2.1rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.2rem;
}

ul,
li,
a,
input,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    letter-spacing: 0px;
}