// SCSS Variables used throughout other partials

// Font Family
$headingFont: 'Abril Fatface', cursive;
$bodyFont: 'Montserrat', sans-serif;

// Font Sizes
$baseFontSize: 1rem;

// Colours (font background)
$primary: #345231;
$secondary: #709b6b;
$accent: #e4a436;
$black: #1f1f1f;
$white: #f6f6f6;
